html, body {
  height: 100%;
  line-height: 1.7em;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Layout */

.container {
  width: 100%;
  max-width: 50rem;
  margin: auto;
  padding: 0 1em;
  /* DEBUG */
  /* border: 1px #000 solid; */
}

.circled {
  border-radius: 50%;
}

.main {
  width: 100%;
  margin-top: 2em;
}

.main-navigation {
  width: 100%;
  /* background: #00A1CB; */
  background: black;
  padding: 1em 0;
  font-size: 1.2rem;
}

.navigation--list-item:nth-child(1n+2) {
  margin-left: 1em;
}

.reset-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.reset-list > * {
  display: inline-block;
}


/* Typo */

html {
  font-size: 130%;
  font-family: 'Bitter', sans-serif;
}

h1, h2, h3 {
  /* border-bottom: 2px dashed rgba(0, 0, 0, 0.5); */
  padding-bottom: 0.1em;
  line-height: 1.4em;
  margin: 0;
}

h1, h3 {
  margin-bottom: 0.5em;
}

h2 {
  margin-bottom: 1.2em;
}

h2 {
  font-size: 1.3em;
}

/** LINKS */

.main-navigation a:link,
main a:link {
  text-decoration: none;
  /* FIXME: RGBA safe? */
  padding-bottom: 0.1em;
  border-bottom-width: 3px;
  border-bottom-style: solid;
  border-bottom-color: rgba(50, 50, 255, 0.6);
}

.main-navigation a {
  color: white;
  font-size: 1.5rem;
}

.main-navigation a:hover,
main a:hover {
  opacity: 0.5;
}

main a:visited {
  color: green;
}

/* Layout */

.p-l {
  padding-left: 0.2em;
}

/* Index/About */
.profile-image {
  margin-left: 1em;
  float: right;
}


/* Testimonials */
.testimonials .testimonial {
  margin-top: 2em;
  padding-bottom: 2em;
  border-bottom: 5px #EEE solid;
}

.testimonials .testimonial .testimonial--author {
  display: flex;
}
.testimonials .testimonal:nth-child(odd) .testimonial--author {
  flex-direction: row;
}
.testimonials .testimonial:nth-child(even) .testimonial--author {
  flex-direction: row-reverse;
}

.testimonial--author > * + * {
  margin: 0 1em;
}

/* Author details  */

.testimonial--author dl {
  margin: 0;
  padding: 0;
}

.testimonial--author dl dt {
  margin-left: 1em;
  font-weight: 700;
}

/* Custom elements */

.avatar {
  padding: 1px;
  border: 1px #eee solid;
  border-radius: 50%;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

/* Accessibility */

/* Taken from: http://aarontgrogg.com/lab/abbr/ */
main abbr[title]::after {
  content: ' ('attr(title)')';
}

/** Responsive **/

@media all and (max-width: 60em) {
  html {
    font-size: 100%;
  }

  .container {
    width: auto;
  }
}

/** PRINT */

@media print {
  body > *:not(main) {
    display: none;
  }
}
