html, body {
  height: 100%;
  line-height: 1.5em;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Layout */

.container {
  width: 100%;
  max-width: 50rem;
  margin: auto;
  /* DEBUG */
  /* border: 1px #000 solid; */
}

@media all and (max-width: 60em) {
  html {
    font-size: 80%;
  }

  .container {
    width: auto;
    padding: 0 1em;
  }
}

.main {
  width: 100%;
  margin-top: 1rem;
}

.navigation {
  width: 100%;
  /* background: #00A1CB; */
  background: black;
  padding: 1em 0;
  font-size: 1.2rem;
}

.navigation a {
  color: white;
  font-size: 1.5rem;
}

.reset-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.reset-list > * {
  display: inline-block;
}


/* Typo */

html {
  font-size: 100%;
  font-family: 'PT Sans', sans-serif;
}

h1, h2, h3 {
  line-height: 1.5rem;
  margin: 0;
}

h1, h3 {
  margin-bottom: 0.5rem;
}

h2 {
  margin-bottom: 1.2rem;
}

h2 {
  font-size: 1.3rem;
}

/** LINKS */

a:link {
  text-decoration: none;
  /* FIXME: RGBA safe? */
  padding-bottom: 0.2em;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgba(50, 50, 50, 0.3);
}

a:hover {
  border-bottom: 1px solid currentcolor;
  border-bottom-color: rgba(50, 50, 250, 1);
}

/* Layout */

.p-l {
  padding-left: 0.2em;
}

.m-b {
  margin-bottom: 1em;
}

/* Testimonials */
.testimonials .testimonial {
  margin-top: 2em;
  padding-bottom: 2em;
  border-bottom: 5px #EEE solid;
}

.testimonials .testimonial .testimonial--author {
  display: flex;
}
.testimonials .testimonal:nth-child(odd) .testimonial--author {
  flex-direction: row;
}
.testimonials .testimonial:nth-child(even) .testimonial--author {
  flex-direction: row-reverse;
}

.testimonial--author > * + * {
  margin: 0 1em;
}

/* Author details  */

.testimonial--author dl {
  margin: 0;
  padding: 0;
}

.testimonial--author dl dt {
  margin-left: 1em;
  font-weight: 700;
}

/* Custom elements */

.avatar {
  padding: 1px;
  border: 1px #eee solid;
  border-radius: 50%;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}


/** PRINT */

@media print {
  body > *:not(main) {
    display: none;
  }
}
