---
title: Books I read
---

<h1>Books I read</h1>
<p>I have a terrible memory and sometimes forget just how good some books are. So I write down what I read and like.</p>

<h2>Currently reading</h2>
<article>
  <h3>Steppenwolf, Hermann Hesse</h3>
</article>

<article>
  <h3>Steppenwolf, Hermann Hesse</h3>
</article>

