<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="author" content="Gregory Igelmund">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/styles/normalize-3.0.2.css">
    <link rel="stylesheet" href="/styles/style.css">
    <!--// TODO: Use SVGs instead of icont font :) //-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.7.0/styles/default.min.css">
  </head>
  <body>
    <div class="container">
      <nav class="m-b">
        <a href="/index.html"><abbr title="Today I learned">TIL</abbr></a>
        <a href="/about.html">Gregory Igelmund</a>
      </nav>
      <main>
        {{{ contents }}}
      </main>
    </div>
  </body>
</html>
